$main-white: #f5f5f5;
$emerald: #21a46d;
$red: #c5203e;
$red-hover: #df415e;
$blue: #2181b9;
$yellow: #ba9b2c;
$main-bg: #1b1b1b;
$section-bg: #252525;
$element-bg: #404040;
$hover-bg: #505050;
$off-gray: #6c6c6c;
$gray: #b4b4b4;
